{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <title>Django Notes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'notes/main.css' %}">

</head>
<body>

<header class="topbar">
    <div class="left">
        <a style="text-decoration: none" href="{% url 'notes-home' %}">
            <h1>📝 Django Notes</h1>
        </a>
    </div>
        {%if user.is_authenticated%}
            <div class="center">
                <input type="search" placeholder="Buscar notas...">
            </div>
            <nav class="right">
                <img class="rounded-circle article-img" src="{{user.profile.image.url}}" style="max-height: 40px; max-width: 40px;"> 
                <a class="nav-link" href="{%url 'profile'%}">{{user.username}}</a>
                <a class="nav-link register" href="{%url 'logout' %}">Logout</a>
            </nav>
        
        {%else%}
            <nav class="right">
                <a class="nav-link" href="{%url 'login'%}"">Login</a>
                <a class="nav-link register" href="{%url 'register' %}">Registro</a>
            </nav>
        {%endif%}
        
</header>
    <div class="col-md-8 mx-auto mt-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show shadow-sm mb-4" role="alert">
                    <strong>✔</strong> {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{%block content%}{%endblock%}

<!--<main class="container">

    <section class="new-note">
        <input type="text" placeholder="Título">
        <textarea placeholder="Escribe una nota..."></textarea>
        <button>Guardar</button>
    </section>

    <section class="notes-grid">
        
       <article class="note yellow">
            <h3>Idea</h3>
            <p>Crear clon de Google Keep con Django</p>
        </article>

        <article class="note blue">
            <h3>Compra</h3>
            <p>Leche, pan, café</p>
        </article>

        <article class="note green">
            <h3>Recordatorio</h3>
            <p>Enviar email mañana</p>
        </article>

    </section>

</main> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>