{%extends "notes/base.html"%}
{%block content%}
<main class="container">
    <section class="new-note">
        <form method="POST">
            {% csrf_token %}
            {{ form.title }}
            {{ form.body }}
        <button class="btn-keep w-100" type="submit">
              Crear
            </button>
        <!--<a class="btn-secondary" href="{%url 'note-create'%}">Crear</a>-->
        </form>
    </section>
    <section class="notes-grid">
        {% for note in notes %}
        <article class="note yellow">
        <a href="{% url 'note-detail' note.id %}" class="note-link">
            <h3>{{ note.title }}</h3>
            <li>
                <input type="checkbox">
            <p>{{ note.body }}</p>
            </li>
        </a>
        </article>
        {% endfor %}
    </section>
</main>
{%endblock content%}