{%extends "notes/base.html"%}
{%block content%}
<main class="container">
    <section class="new-note">
        <input type="text" placeholder="Título">
        <textarea placeholder="Escribe una nota..."></textarea>
        <button>Guardar</button>
    </section>
    <section class="notes-grid">
        {% for note in notes %}
        <article class="note yellow">
        <a href="{% url 'note-detail' note.id %}" class="note-link">
            <h3>{{ note.title }}</h3>
            <p>{{ note.body }}</p>
        </a>
        </article>
        {% endfor %}
    </section>
</main>
{%endblock content%}